/* Importar una fuente deportiva */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --principal: #ff5722; /* Naranja deportivo */
  --oscuro: #1a1a1a;    /* Negro casi total */
  --blanco: #ffffff;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: var(--blanco);
  color: var(--oscuro);
  scroll-behavior: smooth; /* Para que al dar clic al menú baje suavecito */
}

/* Sube niveles hasta la raíz para encontrar la carpeta public/img */
.parallax-bg-1 {
  /* El ./ es el truco mágico para el Application Builder */
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                    url('/img/bg-agenda.jpg');
}

.hero-section {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                    url('/img/hero-bg.jpg');
}